<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/home'}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
<!--post location-->
        <div class="col-lg-9">
            <div class="container">
                <div class="card" style="width: 54rem;margin: 15px" th:each="listP:${listPost}">
                    <div class="card-header">
                        <h1 th:text="${listP.subr.subreddit_title}">Type</h1>
                        <p>post <span th:text="${listP.post_id}"></span></p>
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <img th:src="@{'images/'+${listP.image}}" class="card-img-top" th:alt="..."/>
                            <h2 th:text="${listP.post_title}">Title</h2>
                            <p th:text="${listP.post_desc}">Desc</p>
                        </li>

                        <li class="list-group-item">
                             <a class="btn btn-primary" th:href="@{'/Post/get/'+${listP.post_id}}">View</a>
                            <a class="btn btn-light">commment(<span th:text="${listP.comment_size}"></span>)</a>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-primary"
                            th:href="@{
                            '/update/plus_vote/'+ ${listP.post_id} +'/'+${listP.vote}
                            }">like</a>
                            <a class="btn btn-warning" th:text="${listP.vote}"></a>
                            <a class="btn btn-primary"
                               th:href="@{
                            '/update/minus_vote/'+ ${listP.post_id} +'/'+${listP.vote}
                            }"
                            >unlike</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
<!--Add location-->
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-center" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQicWA4fqwmbLl-P5CmyhY_i0Hrk4etO4oC4g&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" th:href="@{'/Post'}">Create Post</a>
                            <br/>
                            <a href="#" class="btn btn-warning mt-2" th:href="@{'/addSub'}">Cretae SubReddit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <h1>SubReddit</h1>
                        </div>
                        <ul class="list-group list-group-flush" th:each="list:${listSubReddit}">
                            <li class="list-group-item" th:text="${list.subreddit_title}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>