<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostById</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{'/home'}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br/><br/>

<div class="container">
  <div class="card" style="width: 38rem;">
    <div class="card-header">
      <h1 th:text="${postObj.subr.subreddit_title}">Type</h1>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <h2 th:text="${postObj.post_title}"></h2>
        <p th:text="${postObj.post_desc}"></p>
      </li>

      <li class="list-group-item">
        <h5 style="text-align: right">Comment</h5>
        <ul class="list-group list-group-flush" th:each="listC : ${listcomment}">
          <li class="list-group-item" th:text="${listC.comment_content}" style="text-align: right;border-right: 1px solid gray">catch comment..</li>
        </ul>
      </li>

      <li class="list-group-item">
        <form th:action="@{'/add/comment/'+${postObj.post_id}}" method="post">
          <input type="text" placeholder="comment.." class="form-control" name="comment_content">
          <br/>
          <input type="submit" value="post" class="btn btn-primary">
        </form>
      </li>

      <li class="list-group-item" th:text="${sizeC}">plus and minus</li>

    </ul>
  </div>
</div>

</body>
</html>